<div class="container">
    <div class="titles">
        <h1>ngx-errors</h1>
        <h3>ANGULAR</h3>
        <h4>display errors on angular FormGroup.</h4>
    </div>

    <div id="github">
        <a href="https://github.com/ilDug/ngx-errors">
            <span>
                <img src="github.svg" alt="fork me on github" title="fork me on github" />
            </span>
        </a>
    </div>

    <div class="example">
        <form [formGroup]="form">
            <div class="">
                <mat-form-field>
                    <mat-label>email</mat-label>
                    <input matInput formControlName="email" type="email" />
                </mat-form-field>

                <div dagErrors="email" class="error">
                    <div dagError="required" when="touched">Please, insert a value</div>
                    <div dagError="email" when="touched">Ops, incorrect email format</div>
                </div>
            </div>

            <pre style="padding: 1rem;">
                <code>
{{ form.controls.email.errors | json }}

touched: {{ form.controls.email.touched }}
                </code>
            </pre>
        </form>
    </div>
</div>
